<div style="border: 2px solid #255c8a; padding: 10px; background-color: #121212; border-radius: 5px; line-height: 1; width: 97%">
  <strong> ‚ÑπÔ∏è Descri√ß√£o:</strong> 
  Precisamos descobrir se existem dados que desvirtuam-se do padr√£o estabelecido nas partidas (podendo ser tanto entradas incorretas quanto entradas que podemm ocorrer, mas possuem uma chance baix√≠ssima de acontecer), de forma a n√£o prejudicar o modelo final.
</div>

> OBS: acho que teremos que refazer esse outliers, mas passando um por um. Talvez passar apenas pelas que vamos inputar? Para n√£o serem tantas.

# Inicializa√ß√£o

**Bibliotecas**:

In [346]:
import os
import sys
import pandas as pd
from scipy.stats import zscore

**Fun√ß√µes Auxiliares:**

In [347]:
sys.path.append(os.path.abspath("../src"))
from AnaliseExploratoria_functions import histogram_and_stats

**Leitura do Arquivo:**

In [348]:
current_path = os.path.dirname(os.getcwd())
csv_path = (current_path + '/Data/campeonatos_futebol_sem_duplicados.csv')

df = pd.read_csv(csv_path)

# Identificando outliers

Podemos identificar outliers de diversas formas.  
Aqui, usaremos tr√™s t√©cnicas

1. Percentis m√°ximos e m√≠nimos;
2. Intervalo interquartil;
3. Z-score

### Gr√°ficos para auxiliar (falta organizar)

Para auxiliar na identifica√ß√£o das vari√°veis, e checar valores delas, vamos adicionar alguns gr√°ficos para facilitar a visualiza√ß√£o

> OBS: acho que esses s√£o os gr√°ficos que a IDE do jo√£o faz bonitinho, certo? Temos que determinar se realmente vamos entregar assim, se vamos reescrever as fun√ß√µes para fazer gr√°ficos parecidos s√≥ que em outras IDEs, ou se vamos descartar. Tamb√©m queria melhorar o coment√°rio acima, mas n√£o consigo pensar em nada agora.

In [349]:
print(df.columns) # todas as colunas do dataframe original

Index(['Chutes a gol 1', 'Chutes a gol 2', 'Impedimentos 1', 'Impedimentos 2',
       'Escanteios 1', 'Escanteios 2', 'Chutes fora 1', 'Chutes fora 2',
       'Faltas 1', 'Faltas 2', 'Cart√µes amarelos 1', 'Cart√µes amarelos 2',
       'Cart√µes vermelhos 1', 'Cart√µes vermelhos 2', 'Cruzamentos 1',
       'Cruzamentos 2', 'Laterais 1', 'Laterais 2', 'Chutes bloqueados 1',
       'Chutes bloqueados 2', 'Contra-ataques 1', 'Contra-ataques 2', 'Gols 1',
       'Gols 2', 'Tiro de meta 1', 'Tiro de meta 2', 'Tratamentos 1',
       'Tratamentos 2', 'Substitui√ß√µes 1', 'Substitui√ß√µes 2', 'Tiros-livres 1',
       'Tiros-livres 2', 'Defesas dif√≠ceis 1', 'Defesas dif√≠ceis 2',
       'Posse 1(%)', 'Posse 2(%)', 'Position 1', 'Position 2'],
      dtype='object')

In [350]:
# Vamos selecionar apenas as colunas com valores num√©ricos e exibir suas estat√≠sticas

In [351]:
for col in df.select_dtypes(include="number").columns:
    print(f'\033[1m{col}\033[0m')
    histogram_and_stats(df,col,plot=False)

Chutes a gol 1
NaN's: 1512 --|-- Ocorr√™ncias: 26192 --|-- M√©dia: 4.77 --|-- Desv. padr√£o: 2.80 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 90.00 --|-- 5¬∫ percentil: 1.00 --|-- 25¬∫ percentil: 3.00 --|-- 50¬∫ percentil (mediana): 4.00 --|-- 75¬∫ percentil: 6.00 --|-- 95¬∫ percentil: 10.00
--------------
Chutes a gol 2
NaN's: 1512 --|-- Ocorr√™ncias: 26192 --|-- M√©dia: 3.85 --|-- Desv. padr√£o: 2.44 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 80.00 --|-- 5¬∫ percentil: 1.00 --|-- 25¬∫ percentil: 2.00 --|-- 50¬∫ percentil (mediana): 4.00 --|-- 75¬∫ percentil: 5.00 --|-- 95¬∫ percentil: 8.00
--------------
Impedimentos 1
NaN's: 2772 --|-- Ocorr√™ncias: 24932 --|-- M√©dia: 2.14 --|-- Desv. padr√£o: 1.75 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 23.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 5.00
--------------
Impedimentos 2
NaN's: 2772 --|-- Ocorr√™ncias: 24932 --|-- M√©dia: 1.97 --|-- Desv. padr√£o: 1.68 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 15.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 5.00
--------------
Escanteios 1
NaN's: 2327 --|-- Ocorr√™ncias: 25377 --|-- M√©dia: 5.55 --|-- Desv. padr√£o: 2.98 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 22.00 --|-- 5¬∫ percentil: 1.00 --|-- 25¬∫ percentil: 3.00 --|-- 50¬∫ percentil (mediana): 5.00 --|-- 75¬∫ percentil: 7.00 --|-- 95¬∫ percentil: 11.00
--------------
Escanteios 2
NaN's: 2327 --|-- Ocorr√™ncias: 25377 --|-- M√©dia: 4.46 --|-- Desv. padr√£o: 2.62 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 21.00 --|-- 5¬∫ percentil: 1.00 --|-- 25¬∫ percentil: 3.00 --|-- 50¬∫ percentil (mediana): 4.00 --|-- 75¬∫ percentil: 6.00 --|-- 95¬∫ percentil: 9.00
--------------
Chutes fora 1
NaN's: 2323 --|-- Ocorr√™ncias: 25381 --|-- M√©dia: 6.04 --|-- Desv. padr√£o: 3.22 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 23.00 --|-- 5¬∫ percentil: 2.00 --|-- 25¬∫ percentil: 4.00 --|-- 50¬∫ percentil (mediana): 6.00 --|-- 75¬∫ percentil: 8.00 --|-- 95¬∫ percentil: 12.00
--------------
Chutes fora 2
NaN's: 2323 --|-- Ocorr√™ncias: 25381 --|-- M√©dia: 4.96 --|-- Desv. padr√£o: 5.45 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 748.00 --|-- 5¬∫ percentil: 1.00 --|-- 25¬∫ percentil: 3.00 --|-- 50¬∫ percentil (mediana): 5.00 --|-- 75¬∫ percentil: 7.00 --|-- 95¬∫ percentil: 10.00
--------------
Faltas 1
NaN's: 2321 --|-- Ocorr√™ncias: 25383 --|-- M√©dia: 12.69 --|-- Desv. padr√£o: 4.34 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 46.00 --|-- 5¬∫ percentil: 6.00 --|-- 25¬∫ percentil: 10.00 --|-- 50¬∫ percentil (mediana): 12.00 --|-- 75¬∫ percentil: 15.00 --|-- 95¬∫ percentil: 20.00
--------------
Faltas 2
NaN's: 2321 --|-- Ocorr√™ncias: 25383 --|-- M√©dia: 12.95 --|-- Desv. padr√£o: 4.61 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 180.00 --|-- 5¬∫ percentil: 6.00 --|-- 25¬∫ percentil: 10.00 --|-- 50¬∫ percentil (mediana): 13.00 --|-- 75¬∫ percentil: 16.00 --|-- 95¬∫ percentil: 21.00
--------------
Cart√µes amarelos 1
NaN's: 0 --|-- Ocorr√™ncias: 27704 --|-- M√©dia: 1.86 --|-- Desv. padr√£o: 1.35 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 11.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 4.00
--------------
Cart√µes amarelos 2
NaN's: 0 --|-- Ocorr√™ncias: 27704 --|-- M√©dia: 2.12 --|-- Desv. padr√£o: 1.41 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 10.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 5.00
--------------
Cart√µes vermelhos 1
NaN's: 0 --|-- Ocorr√™ncias: 27704 --|-- M√©dia: 0.05 --|-- Desv. padr√£o: 0.23 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 3.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 0.00 --|-- 50¬∫ percentil (mediana): 0.00 --|-- 75¬∫ percentil: 0.00 --|-- 95¬∫ percentil: 0.00
--------------
Cart√µes vermelhos 2
NaN's: 0 --|-- Ocorr√™ncias: 27704 --|-- M√©dia: 0.06 --|-- Desv. padr√£o: 0.25 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 4.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 0.00 --|-- 50¬∫ percentil (mediana): 0.00 --|-- 75¬∫ percentil: 0.00 --|-- 95¬∫ percentil: 1.00
--------------
Cruzamentos 1
NaN's: 18689 --|-- Ocorr√™ncias: 9015 --|-- M√©dia: 17.68 --|-- Desv. padr√£o: 8.02 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 66.00 --|-- 5¬∫ percentil: 6.00 --|-- 25¬∫ percentil: 12.00 --|-- 50¬∫ percentil (mediana): 17.00 --|-- 75¬∫ percentil: 22.00 --|-- 95¬∫ percentil: 32.00
--------------
Cruzamentos 2
NaN's: 18689 --|-- Ocorr√™ncias: 9015 --|-- M√©dia: 14.24 --|-- Desv. padr√£o: 7.08 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 63.00 --|-- 5¬∫ percentil: 4.00 --|-- 25¬∫ percentil: 9.00 --|-- 50¬∫ percentil (mediana): 13.00 --|-- 75¬∫ percentil: 18.00 --|-- 95¬∫ percentil: 27.00
--------------
Laterais 1
NaN's: 12547 --|-- Ocorr√™ncias: 15157 --|-- M√©dia: 15.73 --|-- Desv. padr√£o: 8.26 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 48.00 --|-- 5¬∫ percentil: 3.00 --|-- 25¬∫ percentil: 9.00 --|-- 50¬∫ percentil (mediana): 16.00 --|-- 75¬∫ percentil: 22.00 --|-- 95¬∫ percentil: 30.00
--------------
Laterais 2
NaN's: 12547 --|-- Ocorr√™ncias: 15157 --|-- M√©dia: 15.07 --|-- Desv. padr√£o: 8.09 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 46.00 --|-- 5¬∫ percentil: 3.00 --|-- 25¬∫ percentil: 9.00 --|-- 50¬∫ percentil (mediana): 15.00 --|-- 75¬∫ percentil: 21.00 --|-- 95¬∫ percentil: 29.00
--------------
Chutes bloqueados 1
NaN's: 18861 --|-- Ocorr√™ncias: 8843 --|-- M√©dia: 2.44 --|-- Desv. padr√£o: 1.89 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 15.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 6.00
--------------
Chutes bloqueados 2
NaN's: 18861 --|-- Ocorr√™ncias: 8843 --|-- M√©dia: 1.93 --|-- Desv. padr√£o: 1.64 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 12.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 5.00
--------------
Contra-ataques 1
NaN's: 21441 --|-- Ocorr√™ncias: 6263 --|-- M√©dia: 1.32 --|-- Desv. padr√£o: 1.49 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 16.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 0.00 --|-- 50¬∫ percentil (mediana): 1.00 --|-- 75¬∫ percentil: 2.00 --|-- 95¬∫ percentil: 4.00
--------------
Contra-ataques 2
NaN's: 21441 --|-- Ocorr√™ncias: 6263 --|-- M√©dia: 1.16 --|-- Desv. padr√£o: 1.40 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 15.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 0.00 --|-- 50¬∫ percentil (mediana): 1.00 --|-- 75¬∫ percentil: 2.00 --|-- 95¬∫ percentil: 4.00
--------------
Gols 1
NaN's: 0 --|-- Ocorr√™ncias: 27704 --|-- M√©dia: 1.53 --|-- Desv. padr√£o: 1.29 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 10.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 1.00 --|-- 75¬∫ percentil: 2.00 --|-- 95¬∫ percentil: 4.00
--------------
Gols 2
NaN's: 0 --|-- Ocorr√™ncias: 27704 --|-- M√©dia: 1.17 --|-- Desv. padr√£o: 1.14 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 9.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 0.00 --|-- 50¬∫ percentil (mediana): 1.00 --|-- 75¬∫ percentil: 2.00 --|-- 95¬∫ percentil: 3.00
--------------
Tiro de meta 1
NaN's: 15699 --|-- Ocorr√™ncias: 12005 --|-- M√©dia: 7.06 --|-- Desv. padr√£o: 3.19 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 23.00 --|-- 5¬∫ percentil: 2.00 --|-- 25¬∫ percentil: 5.00 --|-- 50¬∫ percentil (mediana): 7.00 --|-- 75¬∫ percentil: 9.00 --|-- 95¬∫ percentil: 13.00
--------------
Tiro de meta 2
NaN's: 15699 --|-- Ocorr√™ncias: 12005 --|-- M√©dia: 8.37 --|-- Desv. padr√£o: 3.53 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 27.00 --|-- 5¬∫ percentil: 3.00 --|-- 25¬∫ percentil: 6.00 --|-- 50¬∫ percentil (mediana): 8.00 --|-- 75¬∫ percentil: 11.00 --|-- 95¬∫ percentil: 15.00
--------------
Tratamentos 1
NaN's: 22685 --|-- Ocorr√™ncias: 5019 --|-- M√©dia: 2.00 --|-- Desv. padr√£o: 2.26 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 17.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 0.00 --|-- 50¬∫ percentil (mediana): 1.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 6.00
--------------
Tratamentos 2
NaN's: 22685 --|-- Ocorr√™ncias: 5019 --|-- M√©dia: 2.13 --|-- Desv. padr√£o: 2.30 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 16.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 0.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 7.00
--------------
Substitui√ß√µes 1
NaN's: 18285 --|-- Ocorr√™ncias: 9419 --|-- M√©dia: 3.00 --|-- Desv. padr√£o: 1.02 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 6.00 --|-- 5¬∫ percentil: 1.00 --|-- 25¬∫ percentil: 3.00 --|-- 50¬∫ percentil (mediana): 3.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 5.00
--------------
Substitui√ß√µes 2
NaN's: 18285 --|-- Ocorr√™ncias: 9419 --|-- M√©dia: 3.00 --|-- Desv. padr√£o: 1.03 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 6.00 --|-- 5¬∫ percentil: 1.00 --|-- 25¬∫ percentil: 3.00 --|-- 50¬∫ percentil (mediana): 3.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 5.00
--------------
Tiros-livres 1
NaN's: 21468 --|-- Ocorr√™ncias: 6236 --|-- M√©dia: 14.16 --|-- Desv. padr√£o: 4.43 --|-- M√≠nimo: 1.00 --|-- M√°ximo: 36.00 --|-- 5¬∫ percentil: 7.00 --|-- 25¬∫ percentil: 11.00 --|-- 50¬∫ percentil (mediana): 14.00 --|-- 75¬∫ percentil: 17.00 --|-- 95¬∫ percentil: 22.00
--------------
Tiros-livres 2
NaN's: 21468 --|-- Ocorr√™ncias: 6236 --|-- M√©dia: 14.24 --|-- Desv. padr√£o: 4.34 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 33.00 --|-- 5¬∫ percentil: 8.00 --|-- 25¬∫ percentil: 11.00 --|-- 50¬∫ percentil (mediana): 14.00 --|-- 75¬∫ percentil: 17.00 --|-- 95¬∫ percentil: 22.00
--------------
Defesas dif√≠ceis 1
NaN's: 21518 --|-- Ocorr√™ncias: 6186 --|-- M√©dia: 2.68 --|-- Desv. padr√£o: 1.84 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 11.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 4.00 --|-- 95¬∫ percentil: 6.00
--------------
Defesas dif√≠ceis 2
NaN's: 21518 --|-- Ocorr√™ncias: 6186 --|-- M√©dia: 3.21 --|-- Desv. padr√£o: 2.08 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 17.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 2.00 --|-- 50¬∫ percentil (mediana): 3.00 --|-- 75¬∫ percentil: 4.00 --|-- 95¬∫ percentil: 7.00
--------------
Posse 1(%)
NaN's: 2349 --|-- Ocorr√™ncias: 25355 --|-- M√©dia: 51.32 --|-- Desv. padr√£o: 9.83 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 100.00 --|-- 5¬∫ percentil: 35.00 --|-- 25¬∫ percentil: 45.00 --|-- 50¬∫ percentil (mediana): 52.00 --|-- 75¬∫ percentil: 58.00 --|-- 95¬∫ percentil: 67.00
--------------
Posse 2(%)
NaN's: 2349 --|-- Ocorr√™ncias: 25355 --|-- M√©dia: 48.51 --|-- Desv. padr√£o: 9.81 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 100.00 --|-- 5¬∫ percentil: 33.00 --|-- 25¬∫ percentil: 42.00 --|-- 50¬∫ percentil (mediana): 48.00 --|-- 75¬∫ percentil: 55.00 --|-- 95¬∫ percentil: 65.00
--------------

### M√©todo 1: Percentis

Pelos gr√°ficos da se√ß√£o anterior, conseguimos perceber a exist√™ncia de valores m√°ximos bastante discrepantes (outliers). Ent√£o, como uma das estrat√©gias para tratamento dos dados, realizamos o corte de todos os dados que est√£o acima do percentil 99.9 (representam o 0.01% maiores dados).

In [352]:
# Fazendo um loop pelos dados acima do percentil 99.9
df_numerico = df.select_dtypes(include='number')

for col in df_numerico.columns:
    p999 = df[col].quantile(0.999)
    outliers_col = df[df[col] > p999]

    print(f"\nüìä Coluna: {col}")
    print(f"üîé Quantidade de outliers (> P999 = {p999:.2f}): {len(outliers_col)}")

    # Mostra os outliers da coluna (apenas as colunas relevantes)
    if not outliers_col.empty:
        display(outliers_col[[col]])
    else:
        print("‚úÖ Nenhum outlier encontrado acima do P999.")

üìä Coluna: Chutes a gol 1
üîé Quantidade de outliers (> P999 = 16.00): 23

       Chutes a gol 1
137              19.0
220              90.0
698              18.0
1037             19.0
1061             20.0
2101             21.0
3313             17.0
5753             17.0
6388             18.0
13492            19.0
13514            19.0
16084            17.0
16927            17.0
17265            19.0
17267            18.0
17268            23.0
17335            21.0
18512            17.0
21128            18.0
25108            18.0
26149            18.0
26954            17.0
27354            17.0

üìä Coluna: Chutes a gol 2
üîé Quantidade de outliers (> P999 = 14.00): 22

       Chutes a gol 2
352              16.0
605              15.0
664              22.0
718              15.0
730              16.0
1997             17.0
2101             15.0
2410             80.0
2413             30.0
9751             16.0
11479            16.0
11850            17.0
17287            15.0
17340            20.0
17341            15.0
20768            15.0
21401            18.0
21885            15.0
22779            15.0
23617            15.0
24859            15.0
25039            15.0

üìä Coluna: Impedimentos 1
üîé Quantidade de outliers (> P999 = 10.00): 19

       Impedimentos 1
1139             12.0
2076             11.0
2097             12.0
4433             11.0
6601             12.0
9897             11.0
12898            11.0
16186            11.0
16531            11.0
16552            12.0
16733            13.0
17117            12.0
17320            23.0
17388            11.0
19178            13.0
20650            14.0
22061            11.0
22321            11.0
25921            12.0

üìä Coluna: Impedimentos 2
üîé Quantidade de outliers (> P999 = 10.00): 17

       Impedimentos 2
1139             11.0
2097             15.0
2156             14.0
2245             15.0
10827            11.0
11311            11.0
12231            11.0
12580            11.0
12955            12.0
13237            12.0
16205            11.0
18858            11.0
19169            14.0
20609            12.0
21282            13.0
25856            11.0
26977            11.0

üìä Coluna: Escanteios 1
üîé Quantidade de outliers (> P999 = 17.62): 26

       Escanteios 1
271            18.0
412            22.0
5002           18.0
6195           20.0
6595           18.0
6904           18.0
8097           19.0
8673           18.0
8697           18.0
10917          19.0
11296          18.0
12957          18.0
13954          19.0
14860          18.0
15089          18.0
16151          22.0
16566          18.0
17242          18.0
20278          20.0
22706          18.0
24523          18.0
24757          19.0
25230          18.0
25517          18.0
26831          19.0
26936          19.0

üìä Coluna: Escanteios 2
üîé Quantidade de outliers (> P999 = 15.00): 20

       Escanteios 2
113            16.0
134            17.0
917            21.0
2853           16.0
3023           16.0
5955           16.0
5975           17.0
6753           16.0
7256           18.0
8991           17.0
12311          18.0
15378          18.0
20121          17.0
23573          16.0
26432          17.0
26852          17.0
26926          19.0
26973          19.0
27076          16.0
27244          16.0

üìä Coluna: Chutes fora 1
üîé Quantidade de outliers (> P999 = 20.00): 21

       Chutes fora 1
326             23.0
509             21.0
564             21.0
1547            22.0
1563            22.0
1732            22.0
4163            22.0
4439            21.0
11597           22.0
16084           22.0
16636           21.0
16898           21.0
17093           22.0
17094           21.0
17110           21.0
17271           21.0
17300           22.0
17353           22.0
20993           22.0
21393           22.0
26391           21.0

üìä Coluna: Chutes fora 2
üîé Quantidade de outliers (> P999 = 18.00): 18

       Chutes fora 2
1525            19.0
1758            19.0
1808            19.0
1833            20.0
1834            21.0
1875            20.0
1897            20.0
2983            19.0
4041            19.0
4099            21.0
10591           21.0
16293           19.0
16922           20.0
17342           21.0
20958           20.0
21347          748.0
21378           19.0
27213           19.0

üìä Coluna: Faltas 1
üîé Quantidade de outliers (> P999 = 28.00): 25

       Faltas 1
423        46.0
7266       29.0
7803       29.0
9654       29.0
9837       30.0
11911      29.0
12343      30.0
12382      34.0
12482      29.0
12626      34.0
14898      29.0
17073      31.0
17215      29.0
17347      29.0
17518      29.0
17608      31.0
19219      30.0
19226      29.0
19732      29.0
20027      29.0
20516      32.0
21041      30.0
21126      29.0
21325      30.0
22457      29.0

üìä Coluna: Faltas 2
üîé Quantidade de outliers (> P999 = 29.00): 17

       Faltas 2
218        90.0
2410      180.0
2414      120.0
4935       30.0
7851       32.0
11572      30.0
12092      33.0
12224      32.0
12381      32.0
12467      30.0
12576      31.0
12808      30.0
17046      35.0
17631      30.0
17842      30.0
18072      31.0
21685      30.0

üìä Coluna: Cart√µes amarelos 1
üîé Quantidade de outliers (> P999 = 7.00): 15

       Cart√µes amarelos 1
8413                  8.0
10681                 8.0
12063                 8.0
14282                11.0
18361                 8.0
19010                 8.0
19564                 8.0
20463                 8.0
20527                 8.0
20691                 9.0
21076                 8.0
21293                 8.0
21422                 8.0
21932                 8.0
21980                 8.0

üìä Coluna: Cart√µes amarelos 2
üîé Quantidade de outliers (> P999 = 7.00): 21

       Cart√µes amarelos 2
4631                  8.0
4933                  8.0
11158                 8.0
12192                 8.0
12581                 9.0
13197                10.0
18101                 8.0
18367                 8.0
18368                 9.0
19205                 8.0
21293                 8.0
21509                10.0
21637                 8.0
21641                 9.0
21884                 8.0
21903                 8.0
22483                 9.0
22493                 8.0
22737                 9.0
25405                 9.0
26243                 8.0

üìä Coluna: Cart√µes vermelhos 1
üîé Quantidade de outliers (> P999 = 2.00): 1

       Cart√µes vermelhos 1
16960                  3.0

üìä Coluna: Cart√µes vermelhos 2
üîé Quantidade de outliers (> P999 = 2.00): 3

       Cart√µes vermelhos 2
9425                   3.0
12323                  4.0
13978                  3.0

üìä Coluna: Cruzamentos 1
üîé Quantidade de outliers (> P999 = 52.00): 8

       Cruzamentos 1
9473            55.0
10829           55.0
13049           53.0
19608           53.0
23005           53.0
24953           54.0
26053           66.0
27595           63.0

üìä Coluna: Cruzamentos 2
üîé Quantidade de outliers (> P999 = 47.00): 8

       Cruzamentos 2
5242            49.0
8866            49.0
9713            51.0
10872           48.0
11256           52.0
11361           63.0
23131           50.0
27163           50.0

üìä Coluna: Laterais 1
üîé Quantidade de outliers (> P999 = 41.00): 14

       Laterais 1
1285         42.0
14573        42.0
14586        43.0
15191        42.0
15228        44.0
18163        46.0
18486        48.0
18652        47.0
21514        42.0
23780        43.0
24119        42.0
26380        45.0
27534        45.0
27548        44.0

üìä Coluna: Laterais 2
üîé Quantidade de outliers (> P999 = 40.00): 14

       Laterais 2
1269         41.0
1271         42.0
8865         41.0
14363        41.0
14652        43.0
18676        44.0
18714        42.0
19041        44.0
21488        46.0
24330        46.0
24468        42.0
24521        45.0
27114        41.0
27656        45.0

üìä Coluna: Chutes bloqueados 1
üîé Quantidade de outliers (> P999 = 12.00): 4

       Chutes bloqueados 1
25572                 14.0
25948                 13.0
26936                 14.0
27116                 15.0

üìä Coluna: Chutes bloqueados 2
üîé Quantidade de outliers (> P999 = 9.16): 9

       Chutes bloqueados 2
7213                  10.0
7256                  10.0
12604                 10.0
19937                 10.0
24704                 10.0
25455                 10.0
25984                 12.0
26377                 10.0
27351                 10.0

üìä Coluna: Contra-ataques 1
üîé Quantidade de outliers (> P999 = 11.00): 5

       Contra-ataques 1
6936               12.0
13869              13.0
15380              12.0
20235              13.0
23134              16.0

üìä Coluna: Contra-ataques 2
üîé Quantidade de outliers (> P999 = 10.00): 4

       Contra-ataques 2
13847              11.0
13893              15.0
19570              13.0
21423              12.0

üìä Coluna: Gols 1
üîé Quantidade de outliers (> P999 = 7.00): 17

       Gols 1
1088      8.0
1558      8.0
14748     9.0
15136     8.0
18764     8.0
20030    10.0
20540     9.0
21417     8.0
22144     8.0
22572     9.0
23365     9.0
23581     8.0
25501     8.0
26363     8.0
26593     8.0
27452     9.0
27696     8.0

üìä Coluna: Gols 2
üîé Quantidade de outliers (> P999 = 6.00): 23

       Gols 2
935       7.0
2100      8.0
2348      8.0
3983      7.0
5666      7.0
5892      7.0
5941      7.0
7048      7.0
8001      7.0
9373      7.0
11046     7.0
11405     7.0
13010     7.0
15603     9.0
15793     7.0
20208     8.0
20287     8.0
20596     8.0
21743     7.0
21885     8.0
23282     7.0
23617     9.0
25039     7.0

üìä Coluna: Tiro de meta 1
üîé Quantidade de outliers (> P999 = 19.00): 10

       Tiro de meta 1
6189             23.0
6217             20.0
6612             20.0
14807            20.0
14967            20.0
18324            22.0
18533            20.0
20236            20.0
22619            22.0
22673            20.0

üìä Coluna: Tiro de meta 2
üîé Quantidade de outliers (> P999 = 21.00): 12

       Tiro de meta 2
5840             23.0
6099             22.0
7276             22.0
7385             23.0
7964             24.0
14729            22.0
18372            27.0
20503            22.0
22776            24.0
23897            23.0
24292            23.0
25690            22.0

üìä Coluna: Tratamentos 1
üîé Quantidade de outliers (> P999 = 13.98): 6

       Tratamentos 1
10818           14.0
11405           17.0
12004           16.0
15531           15.0
19817           15.0
23122           14.0

üìä Coluna: Tratamentos 2
üîé Quantidade de outliers (> P999 = 12.98): 6

       Tratamentos 2
5150            13.0
7771            15.0
11567           15.0
12184           13.0
13811           14.0
23074           16.0

üìä Coluna: Substitui√ß√µes 1
üîé Quantidade de outliers (> P999 = 5.00): 6

       Substitui√ß√µes 1
1257               6.0
1490               6.0
1497               6.0
13749              6.0
22630              6.0
22658              6.0

üìä Coluna: Substitui√ß√µes 2
üîé Quantidade de outliers (> P999 = 5.00): 7

       Substitui√ß√µes 2
1398               6.0
1421               6.0
13782              6.0
13858              6.0
13863              6.0
22685              6.0
22691              6.0

üìä Coluna: Tiros-livres 1
üîé Quantidade de outliers (> P999 = 31.00): 4

       Tiros-livres 1
15010            34.0
18397            33.0
18590            33.0
19270            36.0

üìä Coluna: Tiros-livres 2
üîé Quantidade de outliers (> P999 = 30.77): 7

       Tiros-livres 2
6535             32.0
14898            32.0
18525            32.0
18714            33.0
19219            32.0
19226            31.0
19426            32.0

üìä Coluna: Defesas dif√≠ceis 1
üîé Quantidade de outliers (> P999 = 10.00): 2

       Defesas dif√≠ceis 1
14763                11.0
22779                11.0

üìä Coluna: Defesas dif√≠ceis 2
üîé Quantidade de outliers (> P999 = 12.00): 4

       Defesas dif√≠ceis 2
5753                 14.0
6388                 17.0
6715                 13.0
24433                14.0

üìä Coluna: Posse 1(%)
üîé Quantidade de outliers (> P999 = 83.00): 22

       Posse 1(%)
68           85.0
819         100.0
841         100.0
842         100.0
846         100.0
859         100.0
871         100.0
2457        100.0
6869        100.0
7001        100.0
7003        100.0
7004        100.0
10717       100.0
11083       100.0
18805        85.0
19606       100.0
19612       100.0
19642       100.0
19645       100.0
20877        84.0
24776       100.0
24843       100.0

üìä Coluna: Posse 2(%)
üîé Quantidade de outliers (> P999 = 80.00): 25

       Posse 2(%)
75           81.0
113          83.0
571          99.0
868         100.0
2305        100.0
2841        100.0
3148        100.0
3183        100.0
3997        100.0
6837        100.0
6911        100.0
7005        100.0
10650       100.0
10922       100.0
18774        95.0
19128        83.0
19601       100.0
23500        82.0
23657        81.0
23934        82.0
24216        81.0
24253        81.0
24603        84.0
24775       100.0
24826       100.0

### M√©todo 2: Dist√¢ncia Interquartil

O segundo m√©todo que utilizamos para encontrar outliers foi o da dist√¢ncia interquartil (IQR). Ele se baseia, resumidamente, em estabelercermos o primeiro quartil (q1), que separa os 25% menores valores do conjunto, e o terceiro quartil (q3), que separa os 75% menores valores. Ent√£o, estabelecemos a dis√¢ncia entre os dois quartis, IQR = q3 - q1, e calculamos os limites inferiores e superiores, estabelecendo o que seria consider√°vel "aceit√°vel" para aquele conjunto espec√≠fico de dados.

Entretanto, ap√≥s a realiza√ß√£o de alguns testes, percebemos que ao fixarmos q1 e q3, est√°vamos obtendo, como outliers, valores que n√£o seriam imposs√≠veis ou muito dif√≠ceis de se obter em uma partida real de futebol. Assim, decidimos aumentar a dist√¢ncia, na tentativa de encontrar, de fato, dados discrepantes. 

Ap√≥s mais alguns testes, encontramos os percentis de 99 e 0.01 como ideais para aplicar esse m√©todo, considerando-se o conjunto de dados presente.

> OBS: Tenho d√∫vida se esse m√©todo realmente pode ser utilizado assim. Pelo que me lembrava, a dist√¢ncia interquart√≠lica era sempre em q3 e q1.

In [353]:

# Pelo M√©tdo do Intervalo Quartil 

# O IQR (Intervalo Interquartil) √© uma medida estat√≠stica que mostra a dispers√£o central dos dados, ignorando os valores extremos. Ele √© muito usado para detectar outliers.
# - Q1 (1¬∫ quartil): valor que separa os 25% menores valores
# - Q3 (3¬∫ quartil): valor que separa os 75% menores valores
# - O IQR seria IQR = Q3-Q1

# Definimos o limite para outliers:
# Limite  = Q3 + 1.5 √ó IQR
# Qualquer valor fora desse intervalo √© considerado outlier.

# Portanto, aplicando o m√©tdo

df_numerico = df.select_dtypes(include='number')
for col in df_numerico.columns:
    q001 = df[col].quantile(0.01)
    q99 = df[col].quantile(0.99)
    iqr = q99 - q001

    limite_inferior = q001 - 1.5 * iqr
    limite_superior = q99 + 1.5 * iqr

    outliers = df[(df[col] < limite_inferior) | (df[col] > limite_superior)]

    print(f"\nüìä Coluna: {col}")
    print(f"üîé Outliers encontrados: {len(outliers)}")

    if not outliers.empty:
        print(outliers[[col]].head())  # Mostra s√≥ os primeiros outliers
    else:
        print("‚úÖ Nenhum outlier detectado.")

üìä Coluna: Chutes a gol 1
üîé Outliers encontrados: 1
     Chutes a gol 1
220            90.0

üìä Coluna: Chutes a gol 2
üîé Outliers encontrados: 2
      Chutes a gol 2
2410            80.0
2413            30.0

üìä Coluna: Impedimentos 1
üîé Outliers encontrados: 1
       Impedimentos 1
17320            23.0

üìä Coluna: Impedimentos 2
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Escanteios 1
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Escanteios 2
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Chutes fora 1
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Chutes fora 2
üîé Outliers encontrados: 1
       Chutes fora 2
21347          748.0

üìä Coluna: Faltas 1
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Faltas 2
üîé Outliers encontrados: 3
      Faltas 2
218       90.0
2410     180.0
2414     120.0

üìä Coluna: Cart√µes amarelos 1
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Cart√µes amarelos 2
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Cart√µes vermelhos 1
üîé Outliers encontrados: 1
       Cart√µes vermelhos 1
16960                  3.0

üìä Coluna: Cart√µes vermelhos 2
üîé Outliers encontrados: 3
       Cart√µes vermelhos 2
9425                   3.0
12323                  4.0
13978                  3.0

üìä Coluna: Cruzamentos 1
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Cruzamentos 2
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Laterais 1
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Laterais 2
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Chutes bloqueados 1
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Chutes bloqueados 2
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Contra-ataques 1
üîé Outliers encontrados: 1
       Contra-ataques 1
23134              16.0

üìä Coluna: Contra-ataques 2
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Gols 1
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Gols 2
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Tiro de meta 1
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Tiro de meta 2
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Tratamentos 1
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Tratamentos 2
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Substitui√ß√µes 1
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Substitui√ß√µes 2
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Tiros-livres 1
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Tiros-livres 2
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Defesas dif√≠ceis 1
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Defesas dif√≠ceis 2
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Posse 1(%)
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

üìä Coluna: Posse 2(%)
üîé Outliers encontrados: 0
‚úÖ Nenhum outlier detectado.

### M√©todo 3: Z-score

O terceiro e √∫ltimo m√©todo utilizado √© o dos z-scores. Atrav√©s de uma padroniza√ß√£o, ele mede o qu√£o distante (em n√∫mero de desvios padr√£o) um valor est√° da m√©dia da sua distribui√ß√£o. 

Sua f√≥rmula √©:

$$z = (x‚àíŒº)/œÉ$$

Onde z √© o z-score, x √© o valor sendo analisado, $\mu$ √© sua esperan√ßa, e $\sigma$ √© o desvio padr√£o.  Al√©m disso, vale citar que os NaNs foram ignorados no c√°lculo do Z-score

In [354]:
df_numerico = df.select_dtypes(include='number')
for col in df_numerico.columns:
    z = zscore(df[col], nan_policy='omit')  # calcula z-score, ignorando NaNs
    z_series = pd.Series(z, index=df.index)
    outliers = df[z_series.abs() > 4]

    print(f'\nOutliers na coluna "{col}":')
    print(outliers[[col]])

Outliers na coluna "Chutes a gol 1":
       Chutes a gol 1
137              19.0
220              90.0
301              16.0
698              18.0
1037             19.0
1061             20.0
1097             16.0
2071             16.0
2101             21.0
3313             17.0
5753             17.0
5775             16.0
6388             18.0
6715             16.0
6743             16.0
7019             16.0
7666             16.0
8959             16.0
9346             16.0
11249            16.0
13492            19.0
13514            19.0
16084            17.0
16927            17.0
17265            19.0
17267            18.0
17268            23.0
17335            21.0
18512            17.0
21128            18.0
21622            16.0
24800            16.0
25108            18.0
25315            16.0
25517            16.0
25716            16.0
25986            16.0
26149            18.0
26954            17.0
27354            17.0
27399            16.0
27595            16.0

Outliers na coluna "Chutes a gol 2":
       Chutes a gol 2
352              16.0
605              15.0
664              22.0
718              15.0
730              16.0
880              14.0
1050             14.0
1213             14.0
1997             17.0
2101             15.0
2410             80.0
2413             30.0
3572             14.0
4408             14.0
4605             14.0
5290             14.0
5892             14.0
9751             16.0
10043            14.0
11281            14.0
11405            14.0
11479            16.0
11850            17.0
12480            14.0
13374            14.0
17269            14.0
17287            15.0
17290            14.0
17340            20.0
17341            15.0
19784            14.0
20768            15.0
21384            14.0
21401            18.0
21885            15.0
21927            14.0
22324            14.0
22471            14.0
22685            14.0
22779            15.0
23617            15.0
24859            15.0
25039            15.0
26812            14.0

Outliers na coluna "Impedimentos 1":
       Impedimentos 1
1139             12.0
1179             10.0
1471             10.0
1983             10.0
2076             11.0
2095             10.0
2097             12.0
2156             10.0
2245             10.0
4043             10.0
4433             11.0
6142             10.0
6167             10.0
6601             12.0
7307             10.0
7624             10.0
7716             10.0
7882             10.0
8203             10.0
8444             10.0
8818             10.0
8876             10.0
9077             10.0
9178             10.0
9248             10.0
9268             10.0
9451             10.0
9897             11.0
12467            10.0
12539            10.0
12898            11.0
15101            10.0
16186            11.0
16215            10.0
16531            11.0
16552            12.0
16733            13.0
17117            12.0
17320            23.0
17388            11.0
19178            13.0
19238            10.0
19720            10.0
19875            10.0
20107            10.0
20112            10.0
20650            14.0
20660            10.0
20715            10.0
20918            10.0
21221            10.0
21285            10.0
21377            10.0
22061            11.0
22321            11.0
22364            10.0
24521            10.0
25921            12.0
26851            10.0

Outliers na coluna "Impedimentos 2":
       Impedimentos 2
336               9.0
1139             11.0
1702              9.0
2005             10.0
2066              9.0
...               ...
25213            10.0
25579             9.0
25856            11.0
26977            11.0
27480             9.0

[82 rows x 1 columns]

Outliers na coluna "Escanteios 1":
       Escanteios 1
271            18.0
412            22.0
5002           18.0
6195           20.0
6595           18.0
6904           18.0
8097           19.0
8673           18.0
8697           18.0
10917          19.0
11296          18.0
12957          18.0
13954          19.0
14860          18.0
15089          18.0
16151          22.0
16566          18.0
17242          18.0
20278          20.0
22706          18.0
24523          18.0
24757          19.0
25230          18.0
25517          18.0
26831          19.0
26936          19.0

Outliers na coluna "Escanteios 2":
       Escanteios 2
113            16.0
134            17.0
268            15.0
304            15.0
555            15.0
557            15.0
917            21.0
1487           15.0
1660           15.0
1899           15.0
2536           15.0
2853           16.0
3023           16.0
3297           15.0
5137           15.0
5355           15.0
5955           16.0
5975           17.0
6629           15.0
6753           16.0
7256           18.0
8116           15.0
8991           17.0
9066           15.0
9921           15.0
11036          15.0
11256          15.0
11850          15.0
12311          18.0
12426          15.0
13646          15.0
15378          18.0
15492          15.0
15533          15.0
20121          17.0
21004          15.0
23573          16.0
24899          15.0
26371          15.0
26432          17.0
26726          15.0
26852          17.0
26926          19.0
26973          19.0
27076          16.0
27244          16.0

Outliers na coluna "Chutes fora 1":
       Chutes fora 1
326             23.0
509             21.0
564             21.0
1453            20.0
1547            22.0
1563            22.0
1656            19.0
1732            22.0
1810            20.0
3360            20.0
3519            19.0
4163            22.0
4292            19.0
4325            19.0
4439            21.0
6595            19.0
7964            19.0
11597           22.0
12136           20.0
12174           20.0
12796           20.0
14408           20.0
16084           22.0
16457           19.0
16636           21.0
16739           20.0
16872           19.0
16898           21.0
17006           19.0
17008           19.0
17093           22.0
17094           21.0
17110           21.0
17271           21.0
17300           22.0
17353           22.0
17534           20.0
20685           20.0
20993           22.0
21086           20.0
21129           20.0
21307           20.0
21393           22.0
21557           19.0
22150           20.0
26391           21.0
26516           19.0
26711           19.0

Outliers na coluna "Chutes fora 2":
       Chutes fora 2
21347          748.0

Outliers na coluna "Faltas 1":
       Faltas 1
423        46.0
12382      34.0
12626      34.0
17073      31.0
17608      31.0
20516      32.0

Outliers na coluna "Faltas 2":
       Faltas 2
218        90.0
2410      180.0
2414      120.0
7851       32.0
12092      33.0
12224      32.0
12381      32.0
17046      35.0

Outliers na coluna "Cart√µes amarelos 1":
       Cart√µes amarelos 1
8413                  8.0
10681                 8.0
12063                 8.0
14282                11.0
18361                 8.0
19010                 8.0
19564                 8.0
20463                 8.0
20527                 8.0
20691                 9.0
21076                 8.0
21293                 8.0
21422                 8.0
21932                 8.0
21980                 8.0

Outliers na coluna "Cart√µes amarelos 2":
       Cart√µes amarelos 2
4631                  8.0
4933                  8.0
11158                 8.0
12192                 8.0
12581                 9.0
13197                10.0
18101                 8.0
18367                 8.0
18368                 9.0
19205                 8.0
21293                 8.0
21509                10.0
21637                 8.0
21641                 9.0
21884                 8.0
21903                 8.0
22483                 9.0
22493                 8.0
22737                 9.0
25405                 9.0
26243                 8.0

Outliers na coluna "Cart√µes vermelhos 1":
       Cart√µes vermelhos 1
2                      1.0
7                      1.0
20                     1.0
60                     1.0
79                     1.0
...                    ...
27575                  1.0
27595                  1.0
27599                  1.0
27630                  1.0
27675                  1.0

[1325 rows x 1 columns]

Outliers na coluna "Cart√µes vermelhos 2":
       Cart√µes vermelhos 2
71                     2.0
540                    2.0
939                    2.0
5499                   2.0
5817                   2.0
...                    ...
25898                  2.0
26653                  2.0
26831                  2.0
27043                  2.0
27426                  2.0

[75 rows x 1 columns]

Outliers na coluna "Cruzamentos 1":
       Cruzamentos 1
7019            52.0
9473            55.0
10829           55.0
11324           50.0
11332           51.0
11631           51.0
11917           50.0
13049           53.0
13864           52.0
13879           52.0
13895           50.0
19608           53.0
19781           52.0
21854           52.0
22643           51.0
23005           53.0
24953           54.0
25647           51.0
25918           51.0
26053           66.0
27074           52.0
27106           50.0
27237           50.0
27595           63.0

Outliers na coluna "Cruzamentos 2":
       Cruzamentos 2
1301            46.0
1380            44.0
5242            49.0
8866            49.0
9159            46.0
9713            51.0
10872           48.0
11256           52.0
11361           63.0
11792           46.0
13084           43.0
13615           44.0
13649           44.0
20025           43.0
21431           43.0
22286           47.0
23131           50.0
24880           47.0
26604           44.0
26966           47.0
27163           50.0

Outliers na coluna "Laterais 1":
Empty DataFrame
Columns: [Laterais 1]
Index: []

Outliers na coluna "Laterais 2":
Empty DataFrame
Columns: [Laterais 2]
Index: []

Outliers na coluna "Chutes bloqueados 1":
       Chutes bloqueados 1
7605                  12.0
7782                  11.0
12796                 12.0
19908                 11.0
22993                 12.0
22995                 12.0
23084                 11.0
25003                 12.0
25299                 12.0
25403                 11.0
25572                 14.0
25948                 13.0
26454                 11.0
26531                 11.0
26555                 11.0
26936                 14.0
27116                 15.0

Outliers na coluna "Chutes bloqueados 2":
       Chutes bloqueados 2
5228                   9.0
7213                  10.0
7256                  10.0
7394                   9.0
11405                  9.0
12604                 10.0
19937                 10.0
20397                  9.0
24704                 10.0
24708                  9.0
25236                  9.0
25273                  9.0
25455                 10.0
25491                  9.0
25751                  9.0
25762                  9.0
25788                  9.0
25984                 12.0
26025                  9.0
26377                 10.0
26553                  9.0
26597                  9.0
26805                  9.0
27249                  9.0
27351                 10.0
27550                  9.0

Outliers na coluna "Contra-ataques 1":
       Contra-ataques 1
5179                8.0
5278                8.0
5304                8.0
6936               12.0
7141               11.0
7264                8.0
7424                9.0
7451                9.0
7538                8.0
12007               8.0
12248              11.0
12302               9.0
13819               8.0
13821              10.0
13869              13.0
13870               8.0
13893               8.0
15380              12.0
19837              11.0
20060               8.0
20117               8.0
20209              10.0
20226               9.0
20235              13.0
20245               8.0
20436               8.0
21422               9.0
21560               8.0
22568               8.0
22688               8.0
23069               9.0
23094               8.0
23113               8.0
23134              16.0
25404               9.0

Outliers na coluna "Contra-ataques 2":
       Contra-ataques 2
5163               10.0
5272                8.0
5293                8.0
6936                9.0
7048                7.0
7125                9.0
7141                7.0
7218                7.0
7254                7.0
7301                7.0
7380                9.0
7411               10.0
7450                7.0
7451               10.0
7743                7.0
7775                8.0
7856                7.0
7912                7.0
7933                7.0
11138               7.0
12022              10.0
13571               9.0
13594               9.0
13684               7.0
13847              11.0
13893              15.0
15446               7.0
19570              13.0
20245               8.0
20506               7.0
20594               7.0
21415               9.0
21423              12.0
21551               9.0
22414               9.0
22591               9.0
22688               7.0
22988               7.0
22992               7.0
23032               7.0
23078              10.0
24930               8.0
25169               7.0
25371               8.0
25599               7.0
25647              10.0
25722               7.0
26111               7.0
26749               7.0
27151               7.0

Outliers na coluna "Gols 1":
       Gols 1
129       7.0
382       7.0
820       7.0
1088      8.0
1215      7.0
...       ...
27452     9.0
27538     7.0
27638     7.0
27683     7.0
27696     8.0

[63 rows x 1 columns]

Outliers na coluna "Gols 2":
       Gols 2
70        6.0
352       6.0
935       7.0
988       6.0
1677      6.0
...       ...
26651     6.0
26894     6.0
26960     6.0
27331     6.0
27650     6.0

[85 rows x 1 columns]

Outliers na coluna "Tiro de meta 1":
       Tiro de meta 1
6189             23.0
6217             20.0
6612             20.0
14807            20.0
14967            20.0
18324            22.0
18533            20.0
20236            20.0
22619            22.0
22673            20.0

Outliers na coluna "Tiro de meta 2":
       Tiro de meta 2
5840             23.0
7385             23.0
7964             24.0
18372            27.0
22776            24.0
23897            23.0
24292            23.0

Outliers na coluna "Tratamentos 1":
       Tratamentos 1
1388            12.0
7134            12.0
7510            12.0
10818           14.0
11164           13.0
11292           12.0
11397           12.0
11405           17.0
11893           13.0
11954           12.0
11976           13.0
12004           16.0
12250           12.0
12311           12.0
12391           12.0
13593           13.0
15531           15.0
19546           13.0
19817           15.0
22639           13.0
23122           14.0
23123           12.0

Outliers na coluna "Tratamentos 2":
       Tratamentos 2
5150            13.0
7771            15.0
11493           12.0
11567           15.0
11961           12.0
12184           13.0
13811           14.0
23074           16.0
24894           12.0
24978           12.0

Outliers na coluna "Substitui√ß√µes 1":
Empty DataFrame
Columns: [Substitui√ß√µes 1]
Index: []

Outliers na coluna "Substitui√ß√µes 2":
Empty DataFrame
Columns: [Substitui√ß√µes 2]
Index: []

Outliers na coluna "Tiros-livres 1":
       Tiros-livres 1
15010            34.0
18397            33.0
18590            33.0
19270            36.0

Outliers na coluna "Tiros-livres 2":
       Tiros-livres 2
6535             32.0
14898            32.0
18525            32.0
18714            33.0
19219            32.0
19426            32.0

Outliers na coluna "Defesas dif√≠ceis 1":
       Defesas dif√≠ceis 1
14763                11.0
22779                11.0

Outliers na coluna "Defesas dif√≠ceis 2":
       Defesas dif√≠ceis 2
5753                 14.0
6388                 17.0
6453                 12.0
6715                 13.0
18456                12.0
18512                12.0
23624                12.0
24300                12.0
24433                14.0

Outliers na coluna "Posse 1(%)":
       Posse 1(%)
131           0.0
307           0.0
571           1.0
584           0.0
634           0.0
...           ...
24815         0.0
24826         0.0
24827         0.0
24829         0.0
24843       100.0

[80 rows x 1 columns]

Outliers na coluna "Posse 2(%)":
       Posse 2(%)
131           0.0
307           0.0
571          99.0
584           0.0
634           0.0
...           ...
24815         0.0
24826       100.0
24827         0.0
24829         0.0
24843         0.0

[80 rows x 1 columns]

# Retirando outliers detectados

Ap√≥s o uso destes tr√™s m√©todos, identificamos as seguintes linhas como outliers:

> Perguntar como exatamente foi feito isso (no olho? uma fun√ß√£o?)

In [355]:
outliers = (218, 220, 423, 571, 819, 841, 842, 846, 859, 868, 871, 1257,
            1490, 1497, 2305, 2410, 2414, 2457, 2841, 3148, 3183, 3997,
            5150, 6837, 6869, 6911, 7001, 7003, 7004, 7005, 7771, 10651,
            10718, 10819, 10923, 11084, 11406, 11568, 12005, 12185, 13750,
            13812, 14283, 15532, 19611, 19616, 19622, 19652, 19655, 19827,
            21357, 22641, 22669, 23085, 23133, 24787, 24788, 24838, 24855)

df.iloc[list(outliers)]

,Chutes a gol 1,Chutes a gol 2,Impedimentos 1,Impedimentos 2,Escanteios 1,Escanteios 2,Chutes fora 1,Chutes fora 2,Faltas 1,Faltas 2,...,Substitui√ß√µes 1,Substitui√ß√µes 2,Tiros-livres 1,Tiros-livres 2,Defesas dif√≠ceis 1,Defesas dif√≠ceis 2,Posse 1(%),Posse 2(%),Position 1,Position 2
218,5.0,5.0,0.0,0.0,7.0,2.0,17.0,4.0,10.0,90.0,...,3.0,3.0,NaN,NaN,NaN,NaN,67.0,33.0,4-2-3-1,4-5-1
220,90.0,3.0,0.0,0.0,5.0,5.0,10.0,5.0,13.0,14.0,...,3.0,3.0,NaN,NaN,NaN,NaN,52.0,48.0,4-2-3-1,4-2-3-1
423,0.0,3.0,0.0,2.0,2.0,7.0,4.0,9.0,46.0,13.0,...,3.0,3.0,NaN,NaN,NaN,NaN,51.0,49.0,3-5-2,4-2-3-1
571,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,99.0,4-4-2,4-4-2
819,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,0.0,3-5-2,4-1-4-1
841,4.0,0.0,NaN,NaN,0.0,7.0,0.0,9.0,0.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,0.0,4-4-2,5-3-2
842,NaN,NaN,3.0,0.0,NaN,NaN,5.0,0.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,0.0,4-4-1-1,4-4-2
846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,0.0,3-5-2,4-2-3-1
859,0.0,0.0,0.0,0.0,NaN,NaN,3.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,0.0,3-5-2,4-3-3
868,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,100.0,4-4-2,4-2-3-1
871,4.0,9.0,0.0,0.0,5.0,0.0,5.0,11.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,0.0,4-4-1-1,4-2-3-1
1257,5.0,3.0,2.0,0.0,6.0,2.0,4.0,1.0,11.0,12.0,...,6.0,4.0,NaN,NaN,NaN,NaN,61.0,39.0,4-2-3-1,4-4-2
1490,2.0,1.0,3.0,1.0,2.0,5.0,1.0,7.0,13.0,12.0,...,6.0,5.0,NaN,NaN,NaN,NaN,46.0,54.0,3-4-2-1,3-1-4-2
1497,3.0,6.0,0.0,3.0,2.0,5.0,7.0,6.0,14.0,7.0,...,6.0,5.0,NaN,NaN,NaN,NaN,48.0,52.0,NaN,3-4-2-1
2305,1.0,6.0,2.0,7.0,3.0,11.0,2.0,5.0,13.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,100.0,4-2-1-3,4-3-3
2410,8.0,80.0,3.0,0.0,9.0,8.0,2.0,2.0,12.0,180.0,...,3.0,3.0,NaN,NaN,NaN,NaN,36.0,64.0,4-4-2,3-4-3
2414,6.0,5.0,1.0,3.0,9.0,4.0,8.0,5.0,11.0,120.0,...,3.0,3.0,NaN,NaN,NaN,NaN,43.0,57.0,3-4-3,4-4-2
2457,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,NaN,NaN,NaN,NaN,100.0,0.0,3-5-2,4-4-2
2841,3.0,5.0,0.0,1.0,4.0,2.0,1.0,2.0,17.0,18.0,...,0.0,1.0,NaN,NaN,NaN,NaN,0.0,100.0,4-3-3,4-3-3
3148,4.0,3.0,2.0,1.0,7.0,2.0,6.0,4.0,17.0,9.0,...,0.0,1.0,NaN,NaN,NaN,NaN,0.0,100.0,4-2-3-1,4-2-3-1
3183,11.0,2.0,1.0,1.0,11.0,3.0,6.0,2.0,10.0,5.0,...,0.0,0.0,NaN,NaN,NaN,NaN,0.0,100.0,4-3-3,4-3-3
3997,1.0,3.0,0.0,0.0,5.0,7.0,10.0,7.0,16.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,100.0,3-5-2,4-4-1-1
5150,5.0,2.0,0.0,0.0,4.0,1.0,3.0,4.0,14.0,11.0,...,5.0,5.0,NaN,NaN,NaN,NaN,45.0,55.0,3-5-2,4-3-3
6837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,100.0,3-4-3,4-3-3
6869,4.0,0.0,2.0,0.0,2.0,0.0,5.0,0.0,14.0,0.0,...,3.0,0.0,NaN,NaN,NaN,NaN,100.0,0.0,4-3-3,4-3-1-2
6911,NaN,NaN,0.0,2.0,NaN,NaN,0.0,8.0,NaN,NaN,...,0.0,3.0,NaN,NaN,NaN,NaN,0.0,100.0,4-1-2-1-2,3-4-1-2
7001,9.0,0.0,2.0,0.0,5.0,0.0,NaN,NaN,11.0,0.0,...,3.0,0.0,NaN,NaN,NaN,NaN,100.0,0.0,4-3-1-2,4-3-3
7003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,0.0,4-3-1-2,4-3-3
7004,5.0,0.0,1.0,0.0,5.0,0.0,2.0,0.0,18.0,0.0,...,3.0,0.0,NaN,NaN,NaN,NaN,100.0,0.0,4-3-3,3-4-2-1
7005,0.0,2.0,NaN,NaN,NaN,NaN,0.0,11.0,0.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,100.0,3-4-2-1,4-3-3
7771,7.0,6.0,1.0,0.0,1.0,1.0,8.0,1.0,21.0,16.0,...,3.0,3.0,NaN,NaN,NaN,NaN,52.0,48.0,4-3-1-2,3-5-2
10651,3.0,4.0,3.0,0.0,5.0,2.0,2.0,8.0,15.0,13.0,...,3.0,3.0,NaN,NaN,NaN,NaN,39.0,61.0,4-2-3-1,4-2-3-1
10718,5.0,3.0,1.0,1.0,5.0,2.0,6.0,4.0,8.0,14.0,...,3.0,3.0,NaN,NaN,NaN,NaN,43.0,57.0,5-3-2,4-2-3-1
10819,3.0,10.0,2.0,0.0,4.0,3.0,5.0,10.0,18.0,15.0,...,3.0,2.0,NaN,NaN,NaN,NaN,54.0,46.0,4-2-3-1,4-2-3-1
10923,2.0,5.0,3.0,3.0,2.0,3.0,5.0,4.0,9.0,10.0,...,3.0,3.0,NaN,NaN,NaN,NaN,55.0,45.0,4-2-3-1,4-1-4-1
11084,5.0,6.0,2.0,1.0,3.0,1.0,10.0,4.0,15.0,10.0,...,3.0,3.0,NaN,NaN,NaN,NaN,39.0,61.0,4-2-3-1,4-1-4-1
11406,1.0,6.0,0.0,2.0,8.0,1.0,8.0,2.0,3.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,52.0,48.0,3-4-2-1,4-2-3-1
11568,2.0,8.0,5.0,1.0,3.0,1.0,3.0,3.0,13.0,13.0,...,3.0,3.0,NaN,NaN,NaN,NaN,54.0,46.0,4-2-3-1,4-2-3-1
12005,1.0,5.0,3.0,1.0,2.0,6.0,5.0,6.0,12.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,42.0,58.0,NaN,NaN
12185,1.0,3.0,1.0,1.0,5.0,7.0,7.0,4.0,13.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,46.0,54.0,NaN,NaN
13750,10.0,1.0,0.0,0.0,5.0,7.0,7.0,2.0,14.0,6.0,...,5.0,5.0,NaN,NaN,NaN,NaN,55.0,45.0,4-3-3,4-2-3-1
13812,3.0,2.0,1.0,2.0,5.0,6.0,4.0,8.0,9.0,13.0,...,5.0,4.0,NaN,NaN,NaN,NaN,42.0,58.0,3-4-1-2,3-4-2-1
14283,3.0,0.0,0.0,4.0,3.0,10.0,3.0,3.0,13.0,7.0,...,NaN,NaN,11.0,13.0,0.0,2.0,49.0,51.0,4-2-3-1,4-2-3-1
15532,6.0,3.0,2.0,0.0,6.0,5.0,6.0,4.0,17.0,16.0,...,3.0,3.0,NaN,NaN,NaN,NaN,58.0,42.0,4-3-3,4-4-2
19611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-2-3-1,4-2-3-1
19616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-2-3-1,5-3-2
19622,0.0,5.0,1.0,2.0,7.0,4.0,7.0,1.0,9.0,6.0,...,3.0,3.0,NaN,NaN,NaN,NaN,47.0,53.0,4-4-2,4-4-2
19652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4-2-3-1,4-2-3-1
19655,5.0,6.0,2.0,5.0,3.0,11.0,3.0,10.0,12.0,18.0,...,3.0,3.0,NaN,NaN,NaN,NaN,32.0,68.0,4-2-3-1,4-3-3
19827,1.0,5.0,0.0,3.0,2.0,4.0,1.0,9.0,21.0,11.0,...,3.0,3.0,NaN,NaN,NaN,NaN,51.0,49.0,4-2-3-1,4-2-3-1
21357,1.0,4.0,3.0,4.0,7.0,9.0,3.0,11.0,12.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,47.0,53.0,4-2-3-1,4-2-3-1
22641,5.0,5.0,4.0,1.0,0.0,5.0,1.0,4.0,7.0,9.0,...,3.0,4.0,NaN,NaN,NaN,NaN,51.0,49.0,4-2-3-1,3-4-3
22669,8.0,1.0,1.0,0.0,5.0,3.0,7.0,3.0,13.0,12.0,...,4.0,4.0,NaN,NaN,NaN,NaN,57.0,43.0,4-2-3-1,5-3-2
23085,1.0,6.0,7.0,1.0,2.0,8.0,2.0,6.0,4.0,7.0,...,3.0,3.0,NaN,NaN,NaN,NaN,33.0,67.0,3-4-3,4-3-3
23133,4.0,5.0,0.0,4.0,3.0,7.0,6.0,5.0,17.0,11.0,...,3.0,2.0,NaN,NaN,NaN,NaN,45.0,55.0,3-5-2,4-3-2-1
24787,0.0,1.0,1.0,0.0,0.0,3.0,1.0,3.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,56.0,4-4-1-1,4-2-3-1
24788,1.0,2.0,NaN,NaN,0.0,1.0,1.0,1.0,7.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,38.0,62.0,4-4-2,4-5-1
24838,4.0,2.0,3.0,4.0,7.0,3.0,2.0,4.0,17.0,18.0,...,3.0,2.0,NaN,NaN,NaN,NaN,43.0,57.0,4-4-2,4-3-3
24855,8.0,4.0,1.0,3.0,8.0,4.0,11.0,2.0,10.0,7.0,...,3.0,3.0,NaN,NaN,NaN,NaN,65.0,35.0,4-2-3-1,4-2-3-1

Ent√£o, vamos elimin√°-los (dar drop()) do data frame

In [356]:
df_sem_outliers = df.drop(df.index[list(outliers)])

# Retirando outros dados

Tamb√©m podemos analisar e buscar dados que sejam imposs√≠veis de ocorrer, mas que n√£o foram detectados pelos outliers.

> OBS: Isso √© um problema, pois era para termos detectado. Ap√≥s analisar um pouco, acredito que estejamos sendo muito restritos no que consideramos um outlier, especialmente no m√©todo da IQR.

Um desses casos √© o que temos 0% de posse de bola:

In [357]:
df_sem_outliers = df_sem_outliers[(df_sem_outliers['Posse 1(%)'] != 0) & (df_sem_outliers['Posse 2(%)'] != 0)]

In [358]:
# Os outliers de chutes fora 2 permaneceram quando fiz [4]. Acho que o intervalo para detectar esses outliers ficou muito pequeno. Depois temos que ver isso.

col = "Chutes fora 2"
q1 = df[col].quantile(0.25)
q3 = df[col].quantile(0.75)

IQR = q3 - q1

limite_inferior = q1 - 1.5*IQR
limite_superior = q3 + 1.5*IQR


outliers = df_sem_outliers[(df_sem_outliers[col] < limite_inferior) | (df_sem_outliers[col] > limite_superior)]
df_sem_outliers = df_sem_outliers.drop(outliers.index)

# Salvando novo csv

Ent√£o, vamos salv√°-los em um novo arquivo:

In [359]:
df_sem_outliers.to_csv(current_path + '/Data/campeonatos_futebol_sem_outliers.csv', index=False)

# Novos gr√°ficos

Finalmente, podemos analisar novamente os gr√°ficos montados, desta vez sem os outliers:

In [360]:
for col in df.select_dtypes(include="number").columns:
    print(f'\033[1m{col}\033[0m')
    histogram_and_stats(df,col,plot=False)

Chutes a gol 1
NaN's: 1512 --|-- Ocorr√™ncias: 26192 --|-- M√©dia: 4.77 --|-- Desv. padr√£o: 2.80 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 90.00 --|-- 5¬∫ percentil: 1.00 --|-- 25¬∫ percentil: 3.00 --|-- 50¬∫ percentil (mediana): 4.00 --|-- 75¬∫ percentil: 6.00 --|-- 95¬∫ percentil: 10.00
--------------
Chutes a gol 2
NaN's: 1512 --|-- Ocorr√™ncias: 26192 --|-- M√©dia: 3.85 --|-- Desv. padr√£o: 2.44 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 80.00 --|-- 5¬∫ percentil: 1.00 --|-- 25¬∫ percentil: 2.00 --|-- 50¬∫ percentil (mediana): 4.00 --|-- 75¬∫ percentil: 5.00 --|-- 95¬∫ percentil: 8.00
--------------
Impedimentos 1
NaN's: 2772 --|-- Ocorr√™ncias: 24932 --|-- M√©dia: 2.14 --|-- Desv. padr√£o: 1.75 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 23.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 5.00
--------------
Impedimentos 2
NaN's: 2772 --|-- Ocorr√™ncias: 24932 --|-- M√©dia: 1.97 --|-- Desv. padr√£o: 1.68 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 15.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 5.00
--------------
Escanteios 1
NaN's: 2327 --|-- Ocorr√™ncias: 25377 --|-- M√©dia: 5.55 --|-- Desv. padr√£o: 2.98 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 22.00 --|-- 5¬∫ percentil: 1.00 --|-- 25¬∫ percentil: 3.00 --|-- 50¬∫ percentil (mediana): 5.00 --|-- 75¬∫ percentil: 7.00 --|-- 95¬∫ percentil: 11.00
--------------
Escanteios 2
NaN's: 2327 --|-- Ocorr√™ncias: 25377 --|-- M√©dia: 4.46 --|-- Desv. padr√£o: 2.62 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 21.00 --|-- 5¬∫ percentil: 1.00 --|-- 25¬∫ percentil: 3.00 --|-- 50¬∫ percentil (mediana): 4.00 --|-- 75¬∫ percentil: 6.00 --|-- 95¬∫ percentil: 9.00
--------------
Chutes fora 1
NaN's: 2323 --|-- Ocorr√™ncias: 25381 --|-- M√©dia: 6.04 --|-- Desv. padr√£o: 3.22 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 23.00 --|-- 5¬∫ percentil: 2.00 --|-- 25¬∫ percentil: 4.00 --|-- 50¬∫ percentil (mediana): 6.00 --|-- 75¬∫ percentil: 8.00 --|-- 95¬∫ percentil: 12.00
--------------
Chutes fora 2
NaN's: 2323 --|-- Ocorr√™ncias: 25381 --|-- M√©dia: 4.96 --|-- Desv. padr√£o: 5.45 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 748.00 --|-- 5¬∫ percentil: 1.00 --|-- 25¬∫ percentil: 3.00 --|-- 50¬∫ percentil (mediana): 5.00 --|-- 75¬∫ percentil: 7.00 --|-- 95¬∫ percentil: 10.00
--------------
Faltas 1
NaN's: 2321 --|-- Ocorr√™ncias: 25383 --|-- M√©dia: 12.69 --|-- Desv. padr√£o: 4.34 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 46.00 --|-- 5¬∫ percentil: 6.00 --|-- 25¬∫ percentil: 10.00 --|-- 50¬∫ percentil (mediana): 12.00 --|-- 75¬∫ percentil: 15.00 --|-- 95¬∫ percentil: 20.00
--------------
Faltas 2
NaN's: 2321 --|-- Ocorr√™ncias: 25383 --|-- M√©dia: 12.95 --|-- Desv. padr√£o: 4.61 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 180.00 --|-- 5¬∫ percentil: 6.00 --|-- 25¬∫ percentil: 10.00 --|-- 50¬∫ percentil (mediana): 13.00 --|-- 75¬∫ percentil: 16.00 --|-- 95¬∫ percentil: 21.00
--------------
Cart√µes amarelos 1
NaN's: 0 --|-- Ocorr√™ncias: 27704 --|-- M√©dia: 1.86 --|-- Desv. padr√£o: 1.35 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 11.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 4.00
--------------
Cart√µes amarelos 2
NaN's: 0 --|-- Ocorr√™ncias: 27704 --|-- M√©dia: 2.12 --|-- Desv. padr√£o: 1.41 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 10.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 5.00
--------------
Cart√µes vermelhos 1
NaN's: 0 --|-- Ocorr√™ncias: 27704 --|-- M√©dia: 0.05 --|-- Desv. padr√£o: 0.23 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 3.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 0.00 --|-- 50¬∫ percentil (mediana): 0.00 --|-- 75¬∫ percentil: 0.00 --|-- 95¬∫ percentil: 0.00
--------------
Cart√µes vermelhos 2
NaN's: 0 --|-- Ocorr√™ncias: 27704 --|-- M√©dia: 0.06 --|-- Desv. padr√£o: 0.25 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 4.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 0.00 --|-- 50¬∫ percentil (mediana): 0.00 --|-- 75¬∫ percentil: 0.00 --|-- 95¬∫ percentil: 1.00
--------------
Cruzamentos 1
NaN's: 18689 --|-- Ocorr√™ncias: 9015 --|-- M√©dia: 17.68 --|-- Desv. padr√£o: 8.02 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 66.00 --|-- 5¬∫ percentil: 6.00 --|-- 25¬∫ percentil: 12.00 --|-- 50¬∫ percentil (mediana): 17.00 --|-- 75¬∫ percentil: 22.00 --|-- 95¬∫ percentil: 32.00
--------------
Cruzamentos 2
NaN's: 18689 --|-- Ocorr√™ncias: 9015 --|-- M√©dia: 14.24 --|-- Desv. padr√£o: 7.08 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 63.00 --|-- 5¬∫ percentil: 4.00 --|-- 25¬∫ percentil: 9.00 --|-- 50¬∫ percentil (mediana): 13.00 --|-- 75¬∫ percentil: 18.00 --|-- 95¬∫ percentil: 27.00
--------------
Laterais 1
NaN's: 12547 --|-- Ocorr√™ncias: 15157 --|-- M√©dia: 15.73 --|-- Desv. padr√£o: 8.26 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 48.00 --|-- 5¬∫ percentil: 3.00 --|-- 25¬∫ percentil: 9.00 --|-- 50¬∫ percentil (mediana): 16.00 --|-- 75¬∫ percentil: 22.00 --|-- 95¬∫ percentil: 30.00
--------------
Laterais 2
NaN's: 12547 --|-- Ocorr√™ncias: 15157 --|-- M√©dia: 15.07 --|-- Desv. padr√£o: 8.09 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 46.00 --|-- 5¬∫ percentil: 3.00 --|-- 25¬∫ percentil: 9.00 --|-- 50¬∫ percentil (mediana): 15.00 --|-- 75¬∫ percentil: 21.00 --|-- 95¬∫ percentil: 29.00
--------------
Chutes bloqueados 1
NaN's: 18861 --|-- Ocorr√™ncias: 8843 --|-- M√©dia: 2.44 --|-- Desv. padr√£o: 1.89 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 15.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 6.00
--------------
Chutes bloqueados 2
NaN's: 18861 --|-- Ocorr√™ncias: 8843 --|-- M√©dia: 1.93 --|-- Desv. padr√£o: 1.64 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 12.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 5.00
--------------
Contra-ataques 1
NaN's: 21441 --|-- Ocorr√™ncias: 6263 --|-- M√©dia: 1.32 --|-- Desv. padr√£o: 1.49 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 16.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 0.00 --|-- 50¬∫ percentil (mediana): 1.00 --|-- 75¬∫ percentil: 2.00 --|-- 95¬∫ percentil: 4.00
--------------
Contra-ataques 2
NaN's: 21441 --|-- Ocorr√™ncias: 6263 --|-- M√©dia: 1.16 --|-- Desv. padr√£o: 1.40 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 15.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 0.00 --|-- 50¬∫ percentil (mediana): 1.00 --|-- 75¬∫ percentil: 2.00 --|-- 95¬∫ percentil: 4.00
--------------
Gols 1
NaN's: 0 --|-- Ocorr√™ncias: 27704 --|-- M√©dia: 1.53 --|-- Desv. padr√£o: 1.29 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 10.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 1.00 --|-- 75¬∫ percentil: 2.00 --|-- 95¬∫ percentil: 4.00
--------------
Gols 2
NaN's: 0 --|-- Ocorr√™ncias: 27704 --|-- M√©dia: 1.17 --|-- Desv. padr√£o: 1.14 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 9.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 0.00 --|-- 50¬∫ percentil (mediana): 1.00 --|-- 75¬∫ percentil: 2.00 --|-- 95¬∫ percentil: 3.00
--------------
Tiro de meta 1
NaN's: 15699 --|-- Ocorr√™ncias: 12005 --|-- M√©dia: 7.06 --|-- Desv. padr√£o: 3.19 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 23.00 --|-- 5¬∫ percentil: 2.00 --|-- 25¬∫ percentil: 5.00 --|-- 50¬∫ percentil (mediana): 7.00 --|-- 75¬∫ percentil: 9.00 --|-- 95¬∫ percentil: 13.00
--------------
Tiro de meta 2
NaN's: 15699 --|-- Ocorr√™ncias: 12005 --|-- M√©dia: 8.37 --|-- Desv. padr√£o: 3.53 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 27.00 --|-- 5¬∫ percentil: 3.00 --|-- 25¬∫ percentil: 6.00 --|-- 50¬∫ percentil (mediana): 8.00 --|-- 75¬∫ percentil: 11.00 --|-- 95¬∫ percentil: 15.00
--------------
Tratamentos 1
NaN's: 22685 --|-- Ocorr√™ncias: 5019 --|-- M√©dia: 2.00 --|-- Desv. padr√£o: 2.26 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 17.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 0.00 --|-- 50¬∫ percentil (mediana): 1.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 6.00
--------------
Tratamentos 2
NaN's: 22685 --|-- Ocorr√™ncias: 5019 --|-- M√©dia: 2.13 --|-- Desv. padr√£o: 2.30 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 16.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 0.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 7.00
--------------
Substitui√ß√µes 1
NaN's: 18285 --|-- Ocorr√™ncias: 9419 --|-- M√©dia: 3.00 --|-- Desv. padr√£o: 1.02 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 6.00 --|-- 5¬∫ percentil: 1.00 --|-- 25¬∫ percentil: 3.00 --|-- 50¬∫ percentil (mediana): 3.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 5.00
--------------
Substitui√ß√µes 2
NaN's: 18285 --|-- Ocorr√™ncias: 9419 --|-- M√©dia: 3.00 --|-- Desv. padr√£o: 1.03 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 6.00 --|-- 5¬∫ percentil: 1.00 --|-- 25¬∫ percentil: 3.00 --|-- 50¬∫ percentil (mediana): 3.00 --|-- 75¬∫ percentil: 3.00 --|-- 95¬∫ percentil: 5.00
--------------
Tiros-livres 1
NaN's: 21468 --|-- Ocorr√™ncias: 6236 --|-- M√©dia: 14.16 --|-- Desv. padr√£o: 4.43 --|-- M√≠nimo: 1.00 --|-- M√°ximo: 36.00 --|-- 5¬∫ percentil: 7.00 --|-- 25¬∫ percentil: 11.00 --|-- 50¬∫ percentil (mediana): 14.00 --|-- 75¬∫ percentil: 17.00 --|-- 95¬∫ percentil: 22.00
--------------
Tiros-livres 2
NaN's: 21468 --|-- Ocorr√™ncias: 6236 --|-- M√©dia: 14.24 --|-- Desv. padr√£o: 4.34 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 33.00 --|-- 5¬∫ percentil: 8.00 --|-- 25¬∫ percentil: 11.00 --|-- 50¬∫ percentil (mediana): 14.00 --|-- 75¬∫ percentil: 17.00 --|-- 95¬∫ percentil: 22.00
--------------
Defesas dif√≠ceis 1
NaN's: 21518 --|-- Ocorr√™ncias: 6186 --|-- M√©dia: 2.68 --|-- Desv. padr√£o: 1.84 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 11.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 1.00 --|-- 50¬∫ percentil (mediana): 2.00 --|-- 75¬∫ percentil: 4.00 --|-- 95¬∫ percentil: 6.00
--------------
Defesas dif√≠ceis 2
NaN's: 21518 --|-- Ocorr√™ncias: 6186 --|-- M√©dia: 3.21 --|-- Desv. padr√£o: 2.08 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 17.00 --|-- 5¬∫ percentil: 0.00 --|-- 25¬∫ percentil: 2.00 --|-- 50¬∫ percentil (mediana): 3.00 --|-- 75¬∫ percentil: 4.00 --|-- 95¬∫ percentil: 7.00
--------------
Posse 1(%)
NaN's: 2349 --|-- Ocorr√™ncias: 25355 --|-- M√©dia: 51.32 --|-- Desv. padr√£o: 9.83 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 100.00 --|-- 5¬∫ percentil: 35.00 --|-- 25¬∫ percentil: 45.00 --|-- 50¬∫ percentil (mediana): 52.00 --|-- 75¬∫ percentil: 58.00 --|-- 95¬∫ percentil: 67.00
--------------
Posse 2(%)
NaN's: 2349 --|-- Ocorr√™ncias: 25355 --|-- M√©dia: 48.51 --|-- Desv. padr√£o: 9.81 --|-- M√≠nimo: 0.00 --|-- M√°ximo: 100.00 --|-- 5¬∫ percentil: 33.00 --|-- 25¬∫ percentil: 42.00 --|-- 50¬∫ percentil (mediana): 48.00 --|-- 75¬∫ percentil: 55.00 --|-- 95¬∫ percentil: 65.00
--------------